<header>
    <div class="navbar">
        <div class="logo">Safety Drive</div>
        <nav>
            <ul>
                <li><a routerLink="/manage-student">Students</a></li>
                <li><a routerLink="/manage-instructor">Instructors</a></li>
                <li><a routerLink="/manage-package">Packages</a></li>
                <li><a routerLink="/shedular">Shedular</a></li>
                <li><a routerLink="/connect">Connect</a></li>
            </ul>
        </nav>
        <button class="Logout btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </header>
